/* 
h1 {
   display: block;
   font-weight: bold;
   color: rgba(248, 244, 244, 0);
   text-align: center; */
/* 
container holding the image and the text */ 

 .container{
   position: relative;
   text-align: center;
   color:rgb(228, 225, 225);
   font-style:oblique;
   margin-left: 0%;
   margin-right: 0%;
   


   
}

   .backgraond{
      background-color: rgb(208, 239, 247);
      
   }
    

.AllItems{ display:grid;
   grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 80px;
 width: 100%;

}

.flter{ filter: blur(6px);}

.Cart-container{ width: 70%;
   height: 85%;
   background-color: #ffffff;
   border-radius: 20px;
   box-shadow: 0px 25px 40px #1687d933;

}
.Header{
   margin: auto;
   width: 90%;
   height: 15%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Heading{
   font-size: 20px;
   font-family: open Sans;
   font-weight: 700;
   color: #2F3841;
}
.Action{
   font-size: 14px;
   font-family:  open Sans;
   font-weight: 600;
   color: #E44C4C;
   cursor: pointer;
   border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
   margin: auto;
   width: 90%;
   height: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .image-box{
   width: 15%;
   text-align: center;
  }
  .about{
   height: 100%;
  }
  .title{
   padding-top: 5px;
   line-height: 10px;
   font-size: 32px;
   font-family: ‘Open Sans’;
   font-weight: 800;
   color: #202020;
  }
  .subtitle{
   line-height: 10px;
   font-size: 18px;
   font-family: ‘Open Sans’;
   font-weight: 600;
   color: #909090;
  }

  .counter{
   width: 15%;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .btn{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #d9d9d9;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-family: ‘Open Sans’;
   font-weight: 900;
   color: #202020;
   cursor: pointer;
  }
  .count{
   font-size: 20px;
   font-family: ‘Open Sans’;
   font-weight: 900;
   color: #202020;}

   .AllItemCart{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
   }
/* 
  /* .overly{
     position: absolute;
     z-index: 1;
     top: 0;
     left: 0;
     height: 100%;
     right: 0;
     bottom: 0;
     padding: 0 !important;
     margin: 0 !important;
     background-color: whitesmoke;
  } */

  .nav1{position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   z-index: 2;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 50px 60px 0 60px;}
    
.nav li {
   list-style: none;
   display: inline-block;
   padding-right: 10px;
   padding-left: 10px;}
   
   nav li span{
      padding-left: 5px;
   }
   li a{
padding: 5px;
 text-decoration: none;
font-size:larger;
color: black;
justify-content: space-between;
}
.cart-outline{
vertical-align: bottom;
font-size: 20px;
 padding-right: 5px;}
.cart a{
  background-color: whitesmoke;
   color:rgb(245, 238, 237);
   cursor: pointer;
 }
      

/*  
 .image:hover .cart1,
 .image:hover .cart2,
 .image:hover .cart3,
 .image:hover .cart4,
 .image:hover .cart5,
 .image:hover .cart6,{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
 } */
 
     
 
